/* Project on building a blog | Helio Goncalves 2018 */

/* CSS RESETS */

*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    list-style-type: none;
}

/* Base Styles */

body
{
    font-family: 'Roboto', sans-serif;

    margin: 0;
    padding: 0;

    color: #333;
    background-color: #f3f3f3;
}

h2
{
    font-size: 2rem;

    text-align: center;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

h3
{
    font-size: 1.5rem;

    text-align: center;
    text-decoration: underline;
    letter-spacing: 1.5px;

    color: #848484;
}

.casa-page,
.casa-card,
.blog-img,
.contacto .social-links,
footer
{
    text-align: center;
}

.logo span
{
    font-size: 2rem;
}

.logo,
small
{
    font-size: 1.2rem;
}

nav,
.logo
{
    letter-spacing: 1.5px;
}

.nav-links
{
    text-transform: capitalize;
}

.sobre-image img,
.galeria,
.galeria-item,
.galeria-item img,
.modal,
.modal-content img,
.contacto-image img
{
    width: 100%;
}

.sobre-container,
.sobre-image,
.card-contacto,
.contacto-image
{
    margin: 0 auto;
}

.casa-img img,
.blog-img img,
.modal
{
    height: 100%;
}

p
{
    line-height: 1.4;

    text-align: justify;
}

small
{
    color: #888;;
}

small::before
{
    content: '\0028';
}

small::after
{
    content: '\0029';
}


/*-----------------*
*----- MODAL -----*/
.modal
{
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;

    overflow: auto;

    background-color: rgba(0, 0, 0, .5);
}

.modal-content
{
    width: 90vw;
    margin: 30% auto;
}

.modal-content img
{
    -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2),0 7px 20px 0 rgba(0, 0, 0, .17);
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2),0 7px 20px 0 rgba(0, 0, 0, .17);
}

.modal-content span
{
    font-size: 30px;

    float: right;

    cursor: pointer;
    text-decoration: none;

    color: #b1dad8;
}

/* Layout Styles */

/*-----------------*
*----- HEADER -----*/

header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 16vh;
    margin-bottom: 100px;
}

.logo
{
    font-weight: bold;

    padding: 20px;

    -webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
}

.logo span
{
    display: block;

    color: #777;
}

.casa-page
{
    font-weight: bold;
    line-height: 50px;

    width: 90px;
    height: 90px;

    text-transform: uppercase;

    border-radius: 0 0 0 100%;
    background-color: #d2d2d2;
}

.casa-page a
{
    padding: 10px;

    text-decoration: none;

    color: inherit;
}

.casa-page span
{
    display: block;

    -webkit-transform: translate(5%, 25%);
        -ms-transform: translate(5%, 25%);
            transform: translate(5%, 25%);
}

nav
{
    position: absolute;
    top: 0;
    right: 18px;

    width: 180px;
}

.nav-links
{
    margin-top: 11px;
    padding-left: 20px;
}

.nav-links a
{
    color: #777;
}

.nav-links li
{
    margin-bottom: 5px;
}

.nav-links li a
{
    padding: 5px;
}

.nav-links a::after
{
    position: relative;

    display: inline-block;

    width: 12px;
    height: 12px;

    content: '';

    border-radius: 50%;
    background-color: #222;
}

.nav-links li:nth-child(2)
{
    margin-left: 9px;
}

.nav-links li:nth-child(3)
{
    margin-left: 44px;
}

.nav-links li:nth-child(4)
{
    margin-left: 29px;
}

.nav-links li:nth-child(1) a::after
{
    margin-left: 24px;
}

.nav-links li:nth-child(2) a::after
{
    margin-left: 12px;
}

.nav-links li:nth-child(3) a::after
{
    margin-left: 15px;
}

.nav-links li:nth-child(4) a::after
{
    margin-left: 29px;

    background-color: #cca110;
}


/*-----------------*
*----- MAIN -----*/

/* CASA */

.casa
{
    min-height: 82vh;
}

.casa-card a
{
    margin-top: 10px;
    padding: 5px;
    /* animation for the button */

    -webkit-animation-name: mybutton;
            animation-name: mybutton;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-iteration-count: 6;
            animation-iteration-count: 6;
    text-transform: uppercase;

    color: inherit;
    border: 2px solid;
    border-radius: 6px;
    -webkit-box-shadow: 1px 2px 40px 2px rgba(160, 160, 160, .5);
            box-shadow: 1px 2px 40px 2px rgba(160, 160, 160, .5);
}

@-webkit-keyframes mybutton
{
    0%
    {
        border-radius: 0;
    }
    25%
    {color: #f3f3f3; 
        border-top-left-radius: 30%;background-color: red;
    }
    50%
    {
        border-top-right-radius: 30%;
    }
    75%
    {color: #f3f3f3; 
        border-bottom-right-radius: 30%;background-color: red;
    }
    100%
    {
        border-bottom-left-radius: 30%;
    }
}

@keyframes mybutton
{
    0%
    {
        border-radius: 0;
    }
    25%
    {color: #f3f3f3; 
        border-top-left-radius: 30%;background-color: red;
    }
    50%
    {
        border-top-right-radius: 30%;
    }
    75%
    {color: #f3f3f3; 
        border-bottom-right-radius: 30%;background-color: red;
    }
    100%
    {
        border-bottom-left-radius: 30%;
    }
}

.casa-img
{
    height: 50vw;
    margin-bottom: 30px;
}

blockquote
{
    max-width: 280px;
    margin: 0 auto 25px auto;
}

blockquote p
{
    position: relative;
}

blockquote p::before
{
    font-size: 60px;

    position: absolute;
    top: -18px;
    right: 282px;

    content: open-quote;

    color: #777;
}

blockquote cite
{
    color: #888;
}

/* SOBRE */
.sobre
{
    min-height: 101vh;
    margin-bottom: 70px;
    padding: 50px 25px 0 25px;
}

.sobre-container p
{
    min-width: 150px;
    padding-top: 25px;
}

.sobre-image
{
    width: 70vw;
}

.sobre-image img
{
    -webkit-box-shadow: 1px 2px 40px 5px rgba(160, 160, 160, .5);
            box-shadow: 1px 2px 40px 5px rgba(160, 160, 160, .5);

    -webkit-filter: grayscale(80%);
            filter: grayscale(80%);
}

/* GALERIA */
.galeria
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
}

.galeria-item
{
    margin: 1rem;
    padding: 1rem;

    -webkit-box-shadow: 1px 2px 40px 2px rgba(160, 160, 160, .5);
            box-shadow: 1px 2px 40px 2px rgba(160, 160, 160, .5);
}

.galeria-item img
{
    display: block;
}

/* BLOG */
.blog
{
    min-height: 100vh;
    padding: 45px 30px 0 30px;
}

.blog time
{
    font-size: .8rem;

    color: #888;
}


.blog-img
{
    height: 50vw;
    margin-bottom: 25px;
}

.blog-img img
{
    -webkit-transform: skew(0deg, 3deg);
        -ms-transform: skew(0deg, 3deg);
            transform: skew(0deg, 3deg);
}

/* CONTACTO */
.contacto
{
    min-height: 101vh;
    margin-top: -17px;
    padding: 65px 30px 0 30px;
}

.contacto-image
{
    width: 50vw;
}

.contacto-image img
{
    -webkit-box-shadow: 1px 2px 7px 2px rgba(160, 160, 160, .5);
            box-shadow: 1px 2px 7px 2px rgba(160, 160, 160, .5);
}

.contacto .social-links
{
    font-size: 25px;

    margin-top: 35px;
}

.contacto .social-links a
{
    padding: 10px;

    color: inherit;
}

/*-----------------*
*----- FOOTER -----*/

footer
{
    line-height: 50px;

    width: 150px;
    height: 90px;
    margin-top: -14px;

    border-radius: 0 100% 0 0;
    background-color: #d9e5e5;
}

footer .footer
{
    font-size: .88rem;

    -webkit-transform: translate(-13%, 75%);
        -ms-transform: translate(-13%, 75%);
            transform: translate(-13%, 75%);
    text-align: unset;
}

/*-----------------*
*----- MEDIA QUERIES -----*/

@media only screen and (min-width: 360px) and (orientation: landscape)
{
    .casa-card
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .sobre-image
    {
        max-width: 50vw;
    }

    .sobre
    {
        margin-bottom: 20px;
        padding: 50px 80px;
    }

    .galeria-item
    {
        -ms-flex-preferred-size: calc(50% - 2rem);
        flex-basis: calc(50% - 2rem);
    }

    .galeria-item img
    {
        height: 370px;

        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center center;
           object-position: center center;
    }

    .blog
    {
        padding: 35px 30px 30px;
    }

    .contacto-image
    {
        max-width: 40vw;
    }

    .contacto
    {
        padding: 35px 60px 30px 60px;
    }
}